[submodule "c-compiler/vendors/gtest"]
	path = c-compiler/vendors/gtest
	url = https://github.com/google/googletest.git
[submodule "c-compiler/vendors/json"]
	path = c-compiler/vendors/json
	url = https://github.com/nlohmann/json.git
